.card{
    flex-direction: row;
   display: flex; 
   width: 100%;
   justify-content: space-around;
   flex-wrap: wrap;
   max-width: 1000px;
   margin: auto;
   margin-bottom: 30px;
   background:black;
}

.img{
    margin-bottom: 30px;
    
}
h3{
    background: white;
    text-align: center;
}